{{#if viewData.snippets.length}}
    {{#each viewData.snippets}}
        <section>
            <h1><a href="/{{id}}">{{title}}</a></h1>
            <ul>
                <li>Created: {{createdAt}}</li>
                <li>Author: {{author}}</li>
            </ul>
            <pre>
                <code>
                    <p>{{content}}</p>
                </code>
            </pre>
            {{#if isAuthor}}
                <button id="editButton"><a href="./{{id}}/edit/">Edit</a></button>
                <button id="removeButton"><a href="./{{id}}/remove/">Delete</a></button>
            {{/if}}
        </section>
    {{/each}}
{{else}}
    <h1>Welcome!</h1>
    <p>No snippets to show yet!</p>
{{/if}}